.alert {
    padding: 20px;
    border-radius: var(--go_br_secondary);
    background: var(--go_secondary);
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid var(--go_primary);
    width: clamp(150px, 90%, 500px);
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.alert.fade-in {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.alert.fade-out {
    opacity: 0;
    transform: translateX(-50%) translateY(100px);
}

:root {
    --go_alert_error: #FF4848;
    --go_alert_border_error: #ff0000;

    --go_alert_warning: #FFD948;
    --go_alert_border_warning: #f0c310;

    --go_alert_info: #48D7FF;
    --go_alert_border_info: #0f9cb7;

    --go_alert_success: #48FF6E;
    --go_alert_border_success: #0f9c3b;
}

.alert .alert-header .icon {
    width: 30px;
    color: var(--go_tertiary);
}

.alert .alert-footer .alert-title {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--go_text);
}

.alert .alert-footer .alert-description {
    font-size: 1rem;
    font-weight: 500;
}

.alert.error {
    background: var(--go_alert_error);
    border-color: var(--go_alert_border_error);
}

.alert.error .alert-header .icon, .alert.error .alert-footer .alert-title, .alert.error .alert-footer .alert-description {
    color: white;
}

.alert.warning {
    background: var(--go_alert_warning);
    border-color: var(--go_alert_border_warning);
}

.alert.success {
    background: var(--go_alert_success);
    border-color: var(--go_alert_border_success);
}