.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 80%;
    display: flex;
}

.input-wrapper {
    position: relative;
    background: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.input-wrapper .header .description {
    font-size: 14px;
    color: var(--go_text);
    position: absolute;
    left: 40px;
    top: -8px;
    padding: 5px 15px;
    background: var(--go_primary);
    border-radius: var(--go_br_primary);
}

.input-wrapper .footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--go_secondary);
    border: 10px solid var(--go_primary);
    border-radius: var(--go_br_secondary);
    padding-right: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.input-wrapper .footer input {
    background: transparent;
    outline: none;
    border: none;
    padding: 15px 10px;
    color: var(--go_text);
    font-size: 20px;
    width: 100%;
}

.input-wrapper .footer input::placeholder {
    color: #999;
}

.input-wrapper .footer .action-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--go_text_secondary);
    height: 100%;
}

.input-wrapper .footer .action-button[active="false"] {
    display: none;
}

.input-wrapper .footer .action-button .icon {
    width: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-wrapper .footer .calendar-icon {
    color: var(--text-secondary);
}

.input-wrapper .footer .calendar-body {
    width: 100%;
}

.input-wrapper .footer .calendar-body .calendar-opener {
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    color: var(--text-primary);
    text-align: left;
    padding: 15px 10px;
    font-size: 20px;
}

.button-body[data-disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
}

.button-body[data-disabled="true"] {
    cursor: not-allowed;
}

.button-body {
    outline: none;
    border: none;
    color: var(--go_text);
    background: var(--go_primary);
    font-size: 16px;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: var(--go_br_primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 15px;
    border: 4px solid var(--go_secondary);
}

.button-body .loader {
    color: var(--go_text);
    animation: spin 1.5s linear infinite;
    background: transparent;
}

.button-body .loader[data-hidden="true"] {
    opacity: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.flex-container {
    display: flex;
    width: 100%;
}

.back-button-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.back-button-container .back-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    color: var(--text-secondary);
    transition: color 0.15s;
}

.back-button-container .back-button:hover {
    color: var(--text-active);
}

.back-button-container .back-button .icon {
    width: 30px;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar .avatar-placeholder {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    color: var(--text-secondary);
    font-size: 20px;
    border-radius: 50%;
    font-weight: bold;
    text-transform: uppercase;
}

.wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
}

.form-check {
    width: 100%;
    position: relative;
}

.form-check .error-body {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;

    padding: 5px 10px;
    border-radius: var(--go_br_primary);
    background: red;
    border: 4px solid rgb(128, 1, 1);
}

.form-check .error-body .error {
    color: #fff;
    font-size: 16px;
}

.form-check .error-body .icon {
    width: 20px;
    color: #f1d4d4;
}

/* .form-check .error::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 0;
    width: 3px;
    height: 45px;
    background: red;
} */

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form .error-container {
    margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: var(--go_br_tertiary);
    background: rgba(255, 0, 0, 0.1);
    border: 5px solid red;
}

.form .error-container .error {
    color: red;
    font-size: 15px;
}

.link-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    min-width: 250px;
    padding: 10px 20px;
    outline: none;
    border: none;
    background: transparent;
    color: var(--go_text);
    cursor: pointer;
    border-radius: var(--go_br_tertiary);
    transition: background 0.15s ease-in-out, color 0.15s ease-in-out,
        transform 0.15s ease-in-out;
}

.link-button:hover {
    background: var(--go_secondary);
    color: var(--bg);
    /* transform: scale(1.02); */
}

.link-button .icon-right {
    color: var(--go_text);
}

.link-button header {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.link-button header .icon {
    width: 17px;
}

.link-button header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 8px;
    font-size: 17px;
    color: var(--go_text);
}

.link-button header .description {
    font-size: 14px;
    color: var(--go_text_secondary);
}

.danger {
    background: rgba(255, 0, 0, 0.1);
    color: red;
}

.danger .icon-right {
    color: red;
}

.danger:hover {
    background: rgba(255, 0, 0, 0.2);
    color: red;
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: relative;
    border-radius: 10px;
    border: 1px solid var(--light);
    background: var(--dark);
}

.group .group-title {
    border-bottom: 1px solid var(--light);
    padding: 10px;
}

.group .group-title h2 {
    font-size: 17px;
    color: var(--text-primary);
}

.group .group-title p {
    font-size: 14px;
    color: var(--text-secondary);
}

.group .group-content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 10px;
    padding-top: 0;
}

.separator {
    width: 100%;
    height: 1px;
    background: var(--light);
    margin: 10px 0;
}

.link-button.variant-ghost {
    background: transparent;
    color: var(--text-primary);
}

.link-button.variant-ghost:hover {
    background: var(--go_secondary);
    color: var(--text-primary);
}

.link-button.variant-filled {
    background: var(--lighter);
    color: var(--text-primary);
    border: 1px solid transparent;
}

.link-button.variant-filled:hover {
    background: var(--light);
    color: var(--text-primary);
    border: 1px solid var(--light);
}

.link-button.variant-outline {
    background: transparent;
    color: var(--text-primary);
    border: 1px solid var(--light);
}

.link-button.variant-outline:hover {
    background: var(--lighter);
    color: var(--text-primary);
}

.sections {
    margin-top: 30px;
}

.sections .big-title {
    font-size: clamp(25px, 5vw, 60px);
    color: var(--go_text);
    margin-bottom: 20px;
    width: clamp(200px, 100%, 900px);
}

.sections .section {
    width: 100%;
}

.sections .section.secondary-section {
    background: var(--go_secondary);
}

.sections .section.features-section {
    height: 340px;
}

.sections .section.bg-section {
    background: var(--go_bg);
}

.sections .section.search-section {
    height: 240px;
}

.sections .section.search-section .search-rides-btn {
    background: var(--go_secondary);
    color: var(--go_text);
    padding: 20px 20px;
    border-radius: var(--go_br_primary);
    cursor: pointer;
    width: 500px;
    height: 90px;
    border: 10px solid var(--go_primary);
}

.sections .section.search-section .search-rides-btn header .wrapper {
    font-size: 25px;
    color: var(--go_black);
}

.sections .section.search-section .search-rides-btn .icon-right {
    color: var(--go_black);
}

.sections .section.primary-section {
    background: var(--go_primary);
}

.sections .section.shield-section {
    height: 350px;
    overflow: hidden;
    padding: 20px 50px;
}

.sections .section.shield-section .big-title {
    max-width: 700px;
}

.sections .section.shield-section .safe-btn,
.sections .section.publish-section .publish-btn {
    background: var(--go_white);
    color: var(--go_text);
    padding: 20px 20px;
    border-radius: var(--go_br_primary);
    cursor: pointer;
    width: 500px;
    height: 90px;
    border: 10px solid var(--go_border);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sections .section.shield-section .safe-btn header .wrapper,
.sections .section.publish-section .publish-btn header .wrapper {
    font-size: 25px;
    color: var(--go_black);
}

.sections .section.most-searched-section {
    height: 400px;
}

.sections
    .section.most-searched-section
    .buttons
    .link-button.most-searched-btn {
    border: 10px solid var(--go_secondary);
    border-radius: var(--go_br_primary);
    padding: 20px 20px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sections
    .section.most-searched-section
    .buttons
    .link-button.most-searched-btn
    header
    .wrapper {
    font-size: 25px;
    color: var(--go_black);
}

.sections .section.publish-section {
    overflow: hidden;
    height: 370px;
    padding: 20px 50px;
}

.sections .section.tertiary-section {
    background: var(--go_tertiary);
}

.sections .section.footer-section {
    height: 350px;
    padding: 20px;
}

.sections .section.footer-section .card-btns {
    max-width: 350px;
    width: 100%;
    height: fit-content;
}

.sections .section.footer-section .card-btns .btn-link {
    position: relative;
    background: var(--go_card);
}

.sections .section.footer-section .card-btns .btn-link:hover::before {
    transform: scale(1.5) translateY(calc(-50% + 2px));
}

.sections .section.footer-section .card-btns .btn-link::before {
    transition: transform 0.15s ease-in-out;
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    aspect-ratio: 1/1;
    width: 5px;
    border-radius: 50%;
    border: 3px solid var(--go_tertiary);
    background: transparent;
}

.sections .section.footer-section .card-btns .btn-link header .wrapper {
    font-size: 18px;
    color: var(--go_tertiary);
    font-weight: bold;
}

.sections .section.footer-section .card-btns .btn-link .icon-right {
    color: var(--go_tertiary);
}

.sections .section.footer-section .middle-part .v-separator {
    width: 3px;
    height: 170px;
    background: var(--go_primary);
}

.sections .section.footer-section .middle-part .tos-button {
    background: var(--go_secondary);
    color: var(--go_white);
    padding: 20px 20px;
    border-radius: var(--go_br_primary);
    cursor: pointer;
    width: 230px;
    height: 40px;
    border: 5px solid var(--go_primary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sections .section.footer-section .middle-part .tos-button header .wrapper {
    font-size: 18px;
}

.sections .section.footer-section .middle-part .logo {
    width: 100px;
    margin-top: 15px;
}

.sections .section.footer-section .links {
    width: fit-content;
}

.sections .section.footer-section .links .link-btn {
    background: transparent;
    color: var(--go_primary);
    width: 100%;
}

.sections .section.footer-section .links .link-btn header .wrapper {
    color: var(--go_primary);
}
