@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --bg: black;
    --primary: white;
    --secondary: #777;

    --text-primary: white;
    --text-secondary: #888;
    --text-active: #f0f0f0;

    --dark: rgba(0, 0, 0, .15);
    --light: rgba(255, 255, 255, .2);
    --lighter: rgba(255, 255, 255, .1);
    --disabled: rgba(255, 255, 255, .5);

    --go_white: #FFFFFF;
    --go_black: #000000;

    --go_primary: var(--go_light_primary);
    --go_secondary: var(--go_light_secondary);
    --go_tertiary: var(--go_light_tertiary);
    --go_text: var(--go_light_text);
    --go_text_secondary: var(--go_light_text_secondary);
    --go_card: var(--go_light_card);
    --go_border: var(--go_light_border);
    --go_bg: var(--go_light_bg);
    
    --go_dark_primary: #05556b;
    --go_dark_secondary: #1D353C;
    --go_dark_tertiary: #38A1BE;
    --go_dark_text: #BDE0E9;
    --go_dark_text_secondary: #BDE0E9;
    --go_dark_card: #172123;
    --go_dark_border: #27383C;
    --go_dark_bg: #172123;

    --go_light_primary: #48D7FF;
    --go_light_secondary: #C6F3FF;
    --go_light_tertiary: #2A5D6A;
    --go_light_text: #2A5D6A;
    --go_light_text_secondary: #567981;
    --go_light_card: #FFFFFF;
    --go_light_border: #F5F5F5;
    --go_light_bg: #FFFFFF;

    --go_br_primary: 101px;
    --go_br_secondary: 50px;
    --go_br_tertiary: 25px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--go_bg);
    color: var(--go_text);
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

